.raceCardCntnr {
  display: flex;
  margin-top: 5vw;
  width: 90%;
  background: rgb(255, 255, 255);
  border-radius: 0 12px 0 0;
  align-items: center;
  justify-items: center;
  border-top: #000000 5px solid;
  border-right: #000000 5px solid;
}

details {
  width: 90%;
  color: #000000;
}

details[open] {
  padding-bottom: 10px;
}

details > summary {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  list-style: none; 
  font-size: 2vw;
}

details > summary::after {
  font-size: larger;
  font-style: italic;
  content: "view";
  color: rgb(71, 196, 81);
}

details[open] > summary::after {
  font-style: italic;
  content: "hide";
  color: rgb(196, 71, 71);
}

details > summary::-webkit-details-marker {
  display: none;
}

.logCirc {
  font-family: f1wide;
  font-size: 2vw;
}

.logShow { 
  width: 100%;
  padding: 3vw;
  font-family: f1reg;
  font-size: 1.5vw;
  font-weight: 200;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr .5fr;
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "wnnr cnstrc rtng wtchbl"
    "thghts . . ."
    "thghtsTxt thghtsTxt thghtsTxt thghtsTxt";
}

.wnnr { 
  grid-area: wnnr; 
  justify-self: center;
  align-self: start;
}

.cnstrc { 
  grid-area: cnstrc; 
  justify-self: center;
  align-self: start;
}

.rtng { 
  grid-area: rtng; 
  justify-self: center;
  align-self: start;
}

.wtchbl { 
  grid-area: wtchbl; 
  justify-self: center;
  align-self: start;
}

.thghts { 
  grid-area: thghts; 
  justify-self: start;
  align-self: center;
}

.thghtsTxt { 
  grid-area: thghtsTxt; 
  justify-self: start;
  align-self: start;
}

.wnnr > h3 { 
  font-family: f1bold;
  font-size: 2vw;
}

.cnstrc > h3 { 
  font-family: f1bold;
  font-size: 2vw;
}

.rtng > h3 { 
  font-family: f1bold;
  font-size: 2vw;
}

.wtchbl > h3 { 
  font-family: f1bold;
  font-size: 2vw;
}

.thghts > h3 { 
  font-family: f1bold;
  font-size: 2vw;
}

.btnCntnr {
  display: flex;
  gap: 2vw;
  justify-content: right;
}

.dltBtn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: f1reg;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 8px 22px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #ffffff;
  background-color: rgb(148, 51, 51);
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.dltBtn:hover {
  background-color: rgb(73, 37, 37);
  color: white;
}