*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: f1reg;
  src: url('/fonts/Formula1-Regular.otf');
}

@font-face {
  font-family: f1bold;
  src: url('/fonts/Formula1-Bold.otf');
}

@font-face {
  font-family: f1wide;
  src: url('/fonts/Formula1-Wide.otf');
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.navLink:visited {
  color: #ffffff
}

.navLink {
  text-decoration: none;
  color: #ffffff;
}

.navLink:hover {
  color: #222222;
}

nav {
  font-family: f1reg;
  top: 0; 
  z-index: 9;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ba2a2a;
  padding-right: 2vw;
  padding-left: 2vw;
}

nav img {
  height: 50px;
}

nav ul {
  gap: 32px;
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  text-align: right;
}

